.e-sp-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  @media #{$large} {
    display: none;
  }
}

.e-sp-logo a img {
  display: block;
  margin: 1.2rem auto;
}

.e-sp-header-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  max-width: 250px;
}

.e-sp-nav-button {
  width: 6rem;
  text-align: center;
}

.blue-icon {
  font-size: 3.6rem;
  color: $blue2;
}

.e-mask {
  position: absolute;
  top: -7rem;
  left: 0;
  width: 100%;
  height: 7rem;
  z-index: 200;
  background-color: $white;
  visibility: hidden;
  &.open {
    top: 0;
    opacity: 0.7;
    visibility: visible;
  }
}

.e-sp-search-container {
  display: none;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  width: 100%;
}

.e-sp-search-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 300;
  a {
    z-index: 400;
  }
}

.e-sp-search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray2;
  border-radius: 10px;
  z-index: 400;
  background-color: $white;
  a {
    padding: 1rem 0;
  }
  input {
    height: 4.5rem;
    &::placeholder {
      padding-left: 1rem;
      font-size: 1.8rem;
      color: $gray2;
    }
  }
  button {
    width: 5.8rem;
    height: 4.3rem;
    background-color: #f4f4f4;
    border-left: 1px solid $gray2;
    border-radius: 0 10px 10px 0;
    text-align: center;
    cursor: pointer;
  }
}

.e-nav {
  display: none;
  width: 100%;
  padding: 1.5rem 0 2.4rem;
  background-color: $gray;
  position: relative;
  @media #{$large} {
    margin-top: 0;
    padding: 0;
  }
  &.slide {
    position: absolute;
    display: block;
    visibility: visible;
    z-index: 500;
  }
}

.e-nav-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 1rem;
  @media #{$large} {
    width: 100%;
    padding-top: 0;
  }
  ul {
    display: none;
  }
  a {
    display: inline-block;
  }
}

.e-category-title {
  @media #{$large} {
    cursor: pointer;
  }
  &::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position: absolute;
    right: 9rem;
    @media #{$large} {
      right: 3rem;
    }
    @media #{$middle} {
      right: 1rem;
    }
  }
}

.e-category-title.active::after {
  content: "\f077";
}

.e-nav-title-space {
  margin-bottom: 1rem;
}

.e-nav-space {
  margin-top: 1.5rem;
  @media #{$large} {
    margin-top: 2rem;
  }
}

.e-organic-wrap {
  display: none;
  position: relative;
  width: 92%;
  padding: 1rem 2rem 2rem;
  background-color: $gray3;
  li a i {
    display: block !important;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.8rem;
    color: $black;
  }
}

.e-spacial-feature {
  margin-top: 3rem;
  @media #{$large} {
    margin-bottom: 4rem;
  }
  ul {
    display: flex;
    @media #{$large} {
      flex-direction: column;
    }
  }
  p {
    @media #{$large} {
      margin-top: 5rem;
    }
  }
}

.e-spacial-feature-container {
  width: 92%;
}

.e-spacial-feature-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  @media #{$large} {
    flex-direction: column;
    li {
      padding-bottom: 1rem;
    }
  }
}

.w-93 {
  width: 93%;
}

.e-slide-bar {
  margin: 3rem auto;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  background: $gray2;
  height: 2px;
  width: 90%;
  border-radius: 10px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $gray2;
  }
}

.e-price {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  margin-top: 2rem;
  @media #{$large} {
    margin-bottom: 8rem;
  }
  @media #{$middle} {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: end;
  }
}

.e-price-box {
  width: 9rem;
  height: 2.8rem;
  background-color: $white;
  border: solid 1px $gray2;
  border-radius: 5px;
  font-size: 1.8rem;
}

//PC表示
.e-pc-header {
  @media #{$large} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
  }
  @media #{$middle} {
    width: 95%;
    margin: 0 auto;
  }
}

.e-pc-logo {
  @media #{$large} {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }
}

.e-pc-search {
  @media #{$large} {
  }
}

.e-pc-search-form {
  @media #{$large} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $gray2;
    border-radius: 10px;
    background-color: $white;
    button {
      width: 6.8rem;
      height: 4.5rem;
      background-color: #f4f4f4;
      border-right: 1px solid $gray2;
      border-radius: 10px 0 0 10px;
      text-align: center;
      cursor: pointer;
      .fa-search {
        padding: 0.5rem;
      }
      .fa-chevron-down {
        font-size: 1.8rem;
      }
    }
    input {
      height: 4.5rem;
      font-size: 1.8rem;
      &::placeholder {
        padding-left: 1.5rem;
        font-size: 1.8rem;
        color: $gray2;
      }
    }
  }
}

.e-pc-header-icon {
  @media #{$large} {
    display: flex;
    justify-content: space-around;
    min-width: 250px;
  }
}

.e-pc-icon-item {
  @media #{$large} {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

// スライドバー以外OK
