.sns-text {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
  @media #{$large} {
    margin-top: 3rem;
  }
}

.sns-icon {
  display: flex;
  justify-content: space-around;
  @media #{$large} {
    width: 50%;
    min-width: 500px;
    margin: 0 auto;
  }
  img {
    width: 64px;
    height: 64px;
    cursor: pointer;
    @media #{$large} {
      width: 72px;
      height: 72px;
    }
  }
}

.contact {
  text-align: center;
  margin-top: 5rem;
}

.contact-text {
  margin-bottom: 2rem;
}

.contact-item {
  display: flex;
  flex-direction: column;
  @media #{$large} {
    flex-direction: row;
    justify-content: space-between;
  }
  a {
    margin-bottom: 1rem;
  }
}

.copy-right {
  display: flex;
  justify-content: center;
  height: 5rem;
}

.copy-text {
  font-family: 'Noto Sans JP', sans-serif;
  color: $black;
  @include f_around(10, 27.5, 400, 0);
}