.header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 7rem;
  background-color: $white;
  @media #{$large} {
    flex-direction: column;
    justify-content: space-around;
    height: 15rem;
  }
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.nav-button {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translateY(-50%);
  font-size: 3rem;
  color: $black;
}

.logo {
  margin: 0 auto;
}

// SP表示
.sp-nav {
  position: fixed;
  top: 0;
  left: -75%;
  width: 75%;
  height: 100vh;
  background-color: $white;
  transition: all .6s;
  z-index: 300;
}

.sp-nav.open {
  left: 0;
}

.sp-nav-logo {
  display: flex;
  align-items: center;
  position: relative;
  height: 7rem;
  padding-left: 1.6rem;
  border-bottom: 1px solid $line;
}

.sp-nav-list li {
  height: 6rem;
  line-height: 6rem;
  padding-left: 1.6rem;
  font-size: 2rem;
  color: $black;
  border-bottom: 1px solid $line;
  & a {
    text-align: center;
    font-size: 2rem;
    :hover {
      background-color: $gray;
    }
  }
}

.close {
  position: absolute;
  right: 2rem;
  font-size: 3rem;
  color: $black;
}

#mask {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

#mask.open {
  left: 0;
  opacity: .5;
  visibility: visible;
}

// PC表示
.pc-nav-list {
  display: flex;
  justify-content: space-around;
  & a {
    font-family: 'Noto Sans JP', sans-serif;
    color: $black;
    @include f_around(20, 27.2, 400, 0);
  }
}