#news {
  margin-top: 8rem;
  @media #{$large} {
    width: 83%;
    max-width: 1145px;
    margin: 0 auto;
    margin-top: 5rem;
  }
}

.news-container {
  margin-top: 2rem;
  @media #{$large} {
    display: flex;
    margin-top: 3rem;
  }
}

.news-1 {
  width: 100%;
  p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
  }
  @media #{$large} {
    width: 50%;
    margin-right: 3rem;
    p {
      margin-left: 2rem;
    }
    img {
      width: 572px;
    }
  }
}

.sub-news {
  @media #{$large} {
    width: 50%;
  }
}


.sub-news-container {
  @media #{$large} {
    display: flex;
  }
}

.news-2, .news-3, .news-4, .news-5 {
  display: flex;
  margin-top: 2rem;
  img {
    width: 159px;
  }
  p {
    padding-left: 2.8rem;
  }
  @media #{$large} {
    flex-direction: column;
    margin-top: 0;
    img {
      width: 270px;
    }
    p {
      padding: 0.5rem;
      margin-bottom: 5rem;
    }
  }
}

.news-3, .news-5 {
  @media #{$large} {
    margin-left: 3rem;
  }
}

.news-5 {
  margin-bottom: 8rem;
  @media #{$large} {
    margin-bottom: 0;
  }
}