#notice {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: $gray;
}

.notice-title, .news-release-title {
  display: flex;
  align-items: baseline;
  @media #{$large} {
    width: 83%;
    margin: 0 auto;
  }
}
.more {
  margin-left: 2rem;
}

.notice-container {
  max-width: none;
  @media #{$large} {
    margin-bottom: 6rem;
  }
  div {
    margin-bottom: 5rem;
    @media #{$large} {
      margin-bottom: 0;
    }
    :last-of-type {
      margin-bottom: 0;
    }
  }
}

.release-container {
  max-width: none;
  @media #{$large} {
    margin-bottom: 6rem;
  }
  div {
    margin-bottom: 5rem;
    @media #{$large} {
      margin-bottom: 0;
    }
  }
}

.notice-item, .release-item {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @media #{$large} {
    display: flex;
  }
  :nth-child(2) {
    padding: 1rem;
    @media #{$large} {
      padding: 0;
      margin-left: 2.3rem;
    }
  }
}

.notice-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 45px;
  height: 1px;
  background-color: $line2;
  @media #{$large} {
    content: none;
  }
}

.notice-item:last-child::after {
  content: none;
}

.release-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 45px;
  height: 1px;
  background-color: $line2;
  @media #{$large} {
    content: none;
  }
}

.release-item:last-child::after {
  content: none;
}