#r-office {
  width: 100%;
}

.r-office-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @media #{$large} {
    flex-direction: row;
    justify-content: start;
  }
}

.r-office-img {
  width: 100%;
  min-height: 25rem;
  object-fit: cover;
  @media #{$large} {
    width: 50%;
    height: auto;
  }
}

.r-office-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  @media #{$large} {
    position: static;
    width: 50%;
  }
}

.r-h4 {
  margin-bottom: 3rem;
  text-shadow: 0 5px 5px rgba(255, 255, 255, 1);
  font-family: 'Noto Sans JP', sans-serif;
  color: $blue2;
  @include f_around(36.01, 20.05, 900, 0);
  @media #{$large} {
    margin-bottom: 6rem;
    @include f_around(48.01, 20, 900, 0);
  }
}

.r-more-button {
  width: 242px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: rgba(84, 84, 84, .7);
  font-family: 'Noto Sans JP', sans-serif;
  color: $white;
  @include f_around(16.04, 13.52, 400, 0);
  @media #{$large} {
    width: 361px;
    height: 68px;
    line-height: 68px;
    @include f_around(24.15, false, 400, 0);
  }
}