#recruit {
  background-color: $gray;
  margin-bottom: 6rem;
}

.recruit-container {
  @media  #{$large} {
    display: flex;
    flex-direction: row-reverse;
    width: 83%;
    max-width: 1145px;
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.recruit-img {
  img {
    width: 100%;
  }
  @media #{$large} {
    width: 100%;
    max-width: 558px;
  }
}

.recruit-text {
  max-width: none;
  padding-top: 3rem;
  p {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  h2 {
    margin-left: 0;
  }
  @media #{$large} {
    padding-top: 0;
    p {
      padding-left: 2rem;
    }
  }
}

.recruit-button {
  text-align: center;
  @media #{$large} {
    padding-left: 2rem;
  }
}

.recruit-more-button {
  width: 240px;
  height: 57px;
  line-height: 57px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6.8rem;
  background-color: $blue;
  color: $white;
  font-family: 'Noto Sans JP', sans-serif;
  @include f_around(16.09, 26.13, 900, 0);
  @media #{$large} {
    display: block;
  }
}
