#sdgs {
  background-color: $gray;
  margin-bottom: 6rem;
  @media #{$large} {
    padding-bottom: 6rem;
  }
}

.sdgs-container {
  @media #{$large} {
    display: flex;
    justify-content: space-between;
  }
}

.sdgs-title {
  padding-top: 5rem;
  p {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    @media #{$large} {
      margin: 0;
      padding-top: 2rem;
      padding-left: 2rem;
    }
  }
  h2 {
    margin-left: 0;
  }
}

.sdgs-wrap {
  @media #{$large} {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    padding-top: 5rem;
  }
}

.sdgs-box {
  @media #{$large} {
    display: flex;
  }
}

.sdgs-item {
  display: flex;
  align-items: flex-start;
  img {
    width: 160px;
  }
  p {
    padding-left: 2.8rem;
  }
  @media #{$large} {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 3rem;
    img {
      width: 270px;
    }
    p {
      width: 90%;
      padding-top: 1rem;
      padding-left: 0;
    }
  }
}

.sdgs-button {
  text-align: center;
  @media #{$large} {
    padding-left: 2rem;
  }
}

.sdgs-more-button {
  width: 240px;
  height: 57px;
  line-height: 57px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6.8rem;
  background-color: $blue;
  color: $white;
  font-family: 'Noto Sans JP', sans-serif;
  @include f_around(16.09, 26.13, 900, 0);
}

.sp-mgt-20 {
  margin-top: 2rem;
  @media #{$large} {
    margin-top: 0;
  }
}